{port_sources, ["c_src/*.c"]}.
{so_name, "emonk.so"}.

{port_envs, [
    {"DRV_CFLAGS", "$DRV_CFLAGS -fPIC -Wall -I libs/js/include -DXP_UNIX"},

    {"DRV_LDFLAGS", "$DRV_LDFLAGS $ERL_LDFLAGS libs/js/lib/libjs_static.a libs/nsprpub/lib/libnspr4.a"},

    %% Make sure to link -lstdc++ on linux or solaris
    {"darwin", "LDFLAGS", "$LDFLAGS -lstdc++"},
    {"(linux|freebsd)", "LDFLAGS", "$LDFLAGS -lstdc++ -lpthread"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
]}.

{pre_hooks, [{compile, "./support/build_libs.sh"}]}.
{post_hooks, [{clean, "./support/build_libs.sh clean"}]}.

